.icon {
    width: 26px;
    height: 26px;
}

.dark {
    display: none;
}

.light {
    display: none;
}

[data-mantine-color-scheme="dark"] .dark {
    display: block;
}

[data-mantine-color-scheme="light"] .light {
    display: block;
}
