.control {
    width: 34px;
    height: 34px;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    @mixin light {
        color: var(--mantine-color-gray-7);

        @mixin hover {
            background-color: var(--mantine-color-gray-0);
        }
    }

    @mixin dark {
        color: var(--mantine-color-white);

        @mixin hover {
            background-color: var(--mantine-color-dark-5);
        }
    }
}
