@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-color-0: #00599b;
    --primary-color-1: #f5fbfe;
    --primary-color-8: #4ea85f;
    --primary-color-text: #191919;
    /* --primary-color-background: #1e4353; */
    --primary-color-default: #00599b;
    --primary-color-border: #cbd5e1;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
