@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import '@mantine/carousel/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/dropzone/styles.css';
/* @import "@mantine/tiptap/styles.css"; */

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
