POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=meklit
PORT=4000
PORTAL_URL = 'https://portal.shega.heranitech.com'
OFFICE_URL = 'https://office.shega.heranitech.com'
SEAWEEDFS_S3_ENDPOINT = 'http://file.seaweed.heranitech.com:8333'
AWS_ACCESS_KEY_ID = 'a30bc55e-1569-427b-bf82-2db3ca6c28c7'
AWS_SECRET_ACCESS_KEY='NMzfS46w7EWjHI3JdgJ4Dg=='
AWS_BUCKET_NAME='meklit'
default_user = superadmin@yopmail.com
default_password = P@ssw0rd
JWT_SECRET=62d668be9963051e41ac2472asadassdf
LOCAL = 'http://localhost:3000'
DEVELOPMENT=true