POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=meklit
PORT=4000
PORTAL_URL = 'https://portal.shega.heranitech.com'
OFFICE_URL = 'https://office.shega.heranitech.com'
---------------------------
default user = admin@admin.com
default password = password