AWS_ACCESS_KEY_ID=a30bc55e-1569-427b-bf82-2db3ca6c28c7
AWS_BUCKET_NAME=meklit
AWS_SECRET_ACCESS_KEY=NMzfS46w7EWjHI3JdgJ4Dg==
DEVELOPMENT=true
JWT_SECRET=62d668be9963051e41ac2472asadassdf
LOCAL=http://localhost:3000
OFFICE_URL=https://office.sms.heranitech.com
PORTAL_URL=https://portal.sms.heranitech.com
POSTGRES_DATABASE=sunday-school-uat
POSTGRES_HOST=207.180.228.188
POSTGRES_PASSWORD=daOPorzqe80qlszHZbkGRZ0DMCmcHjwHKZXMZOTul8V3yFVrRNTTsb0HINqJx3Qq
POSTGRES_PORT=5432
POSTGRES_USER=postgres
SEAWEEDFS_S3_ENDPOINT=http://file.seaweed.heranitech.com:8333
default_password=P@ssw0rd
default_user=superadmin@yopmail.com