POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=meklit
PORT=4000
---------------------------
default user = admin@admin.com
default password = password